WSBarangKiriman.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.pibk.go.id/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.pibk.go.id/" name="WSBarangKiriman">
<types>
<xsd:schema>
<xsd:import namespace="http://service.pibk.go.id/" schemaLocation="WSBarangKiriman.xsd"/>
</xsd:schema>
</types>
<message name="kirimData">
<part name="parameters" element="tns:kirimData"/>
</message>
<message name="kirimDataResponse">
<part name="parameters" element="tns:kirimDataResponse"/>
</message>
<message name="requestRespon">
<part name="parameters" element="tns:requestRespon"/>
</message>
<message name="requestResponResponse">
<part name="parameters" element="tns:requestResponResponse"/>
</message>
<message name="getResponByAwb">
<part name="parameters" element="tns:getResponByAwb"/>
</message>
<message name="getResponByAwbResponse">
<part name="parameters" element="tns:getResponByAwbResponse"/>
</message>
<message name="serviceTracking">
<part name="parameters" element="tns:serviceTracking"/>
</message>
<message name="serviceTrackingResponse">
<part name="parameters" element="tns:serviceTrackingResponse"/>
</message>
<message name="updateBc11">
<part name="parameters" element="tns:updateBc11"/>
</message>
<message name="updateBc11Response">
<part name="parameters" element="tns:updateBc11Response"/>
</message>
<portType name="WSBarangKiriman">
<operation name="kirimData">
<input wsam:Action="http://service.pibk.go.id/WSBarangKiriman/kirimDataRequest" message="tns:kirimData"/>
<output wsam:Action="http://service.pibk.go.id/WSBarangKiriman/kirimDataResponse" message="tns:kirimDataResponse"/>
</operation>
<operation name="requestRespon">
<input wsam:Action="http://service.pibk.go.id/WSBarangKiriman/requestResponRequest" message="tns:requestRespon"/>
<output wsam:Action="http://service.pibk.go.id/WSBarangKiriman/requestResponResponse" message="tns:requestResponResponse"/>
</operation>
<operation name="getResponByAwb">
<input wsam:Action="http://service.pibk.go.id/WSBarangKiriman/getResponByAwbRequest" message="tns:getResponByAwb"/>
<output wsam:Action="http://service.pibk.go.id/WSBarangKiriman/getResponByAwbResponse" message="tns:getResponByAwbResponse"/>
</operation>
<operation name="serviceTracking">
<input wsam:Action="http://service.pibk.go.id/WSBarangKiriman/serviceTrackingRequest" message="tns:serviceTracking"/>
<output wsam:Action="http://service.pibk.go.id/WSBarangKiriman/serviceTrackingResponse" message="tns:serviceTrackingResponse"/>
</operation>
<operation name="updateBc11">
<input wsam:Action="http://service.pibk.go.id/WSBarangKiriman/updateBc11Request" message="tns:updateBc11"/>
<output wsam:Action="http://service.pibk.go.id/WSBarangKiriman/updateBc11Response" message="tns:updateBc11Response"/>
</operation>
</portType>
<binding name="WSBarangKirimanPortBinding" type="tns:WSBarangKiriman">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="kirimData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestRespon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResponByAwb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="serviceTracking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBc11">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBarangKiriman">
<port name="WSBarangKirimanPort" binding="tns:WSBarangKirimanPortBinding">
<soap:address location="https://esbbcext01.beacukai.go.id:9082/BarangKirimanOnline/WSBarangKiriman"/>
</port>
</service>
</definitions>